<section class="container">
  <div class="col-md-12">
    <h2 class="text-center">Proyectos</h2>
  </div>
  <div class="col-md-12">
    <% flash.each do |type, msg| %>
      <div class="alert alert-success" role="alert">
        <%= msg %>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
    <% end %>
    <%= simple_form_for @project do |f|%>
      <%= f.input :name, label: "Nombre del Proyecto"%>
      <%= f.submit 'Crear', class: "btn btn-success"%>
    <% end %>
  </div>
</section>
